{% extends 'Personas/index.html' %}

{% block title_pagina %}
    <title>Acerca de Nosotros</title>
{% endblock title_pagina %}

{% block texto_header %}
    Acerca de Nosotros
{% endblock texto_header %}

{% block contenido2 %}
    <p> 
        <h3>Nuestro grupo esta conformado por:</h3>

        <p>
            <h4>Mauro Ruiz:</h4>

            <p>Edad: 30 años.</p>
            
            <p>Trabajo: Actualmente desempeño tareas administrativas en una oficina del Hospital Centro de Salud, de la provincia de Tucumán.</p>

            <p>Estudios:</p>
                <ul>
                    <li>Secundario: Egresado con Bachiller orientado a Economia.</li>
                    <li>Universitario: Tecnico en Estadisticas en Salud.</li>
                    <li>Tambien curse Ingenieria en Computacion e Ingeneria en Sistemas de Informacion.</li>
                    <li>Realice cursos de Seguridad Informatica Ofensiva, Pentesting, Introduccion a la programacion, entre otras.</li>
                </ul>
            <p>Objetivo:
                El objetivo por la inscripcion a este curso, es poder desarrollar mas mi formacion para el sector de IT,
                mejorar mi situacion laboral, desempeñandome en los rubros que son de mi agrado. Decidi instruirme en Python,
                por que me parece un lenguaje muy completo y amplio, da oportunidades de ir a distintas ramas y me da la oportunidad
                de seguir especializandome en el sector de las Estadisticas. 
            </p>
        </p>

        <p>
            <h4>Maximiliano Gentili:</h4>
            
            <p>Edad: 31 años.</p>
            
            <p>Trabajo: Responsable de servicio técnico y post-venta de máquinas farmacéuticas Marchesini.</p>

            <p>Estudios:
                <ul>
                    <li>Secundaria:	Egresado como "Técnico electromecánico".</li>
                    <li>Terciario:	Recibido como "Técnico superior en robótica y automatización".</li>
                    <li>Universidad:	Recibido como "Licenciado en gestión de sistemas de robótica y automatización".</li>
                </ul>
            </p>
            <p>Coder House:
                Actualmente estoy realizando los cursos de Python y Product Manager para poder concatenar mi carrera 
                académica al área de IT, y así lograr la competitividad apropiada para poder comenzar a orientar 
                mi carrera laboral hacia el rubro de IT.
            </p>
        </p>
    </p>


{% endblock contenido2 %}