{% extends 'Personas/Herencias.html' %}

{% block contenido %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">
                            {% block texto_header %}
                                Bienvenido a la pagina de Entrega Intermedia!
                            {% endblock texto_header %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block contenido2 %}
    {% endblock contenido2 %}

{% endblock contenido %}



