{% extends 'Personas/index.html' %}

{% block title_pagina %}
    <title>Ver Personas</title>
{% endblock title_pagina %}

{% block texto_header %}
    Listado de Personas
{% endblock texto_header %}

{% block contenido2 %}
    <p>Listado de Personas creadas:</p>

    <form action={% url 'Ver_persona' %} method="GET">
        {{formulario}}
        <button>Buscar Persona</button>
    </form>

    <p>
        {% for persona in Personas %}
        <li> {{persona.nombre}} {{persona.apellido}} {{persona.edad}} </li>
        {% endfor %}
    </p>
{% endblock contenido2 %}