{% extends 'Personas/index.html' %}

{% block title_pagina %}
    <title>Ver Personas</title>
{% endblock title_pagina %}

{% block texto_header %}
    Listado de Personas
{% endblock texto_header %}

{% block contenido2 %}
    <p>Listado de Personas creadas:</p>

    <form action={% url 'Ver_persona' %} method="GET">
        {{formulario}}
        <button>Buscar Persona</button>
    </form>

    <p>
        {% if object_list %}

        {% for persona in object_list %}
            <li> 
                {{persona}}
                <p>
                    <a class="nav-brand" href= {% url 'Ver_TodaInformacion' persona.id %} -> Ver más</a>
                    <a class="nav-brand" href= {% url 'Editar_persona' persona.id %} -> Editar</a>
                    <a class="nav-brand" href= {% url 'Eliminar_persona' persona.id %} -> Eliminar</a>
                </p>
            </li>
        {% endfor %}

        {% else %}

        <p>No se encontraron resultados.</p>

        {% endif %}
        
    </p>
{% endblock contenido2 %}